@font-face {
    font-family: "Endless_Boss_Battle";
    src: url(ttf/EndlessBossBattle.ttf);
}
@font-face {
    font-family: "FreePixel";
    src: url(ttf/FreePixel.ttf);
}
:root {
    --main-black: rgb(24, 24, 24);
}
* {
    margin: 0;
    padding: 0;
}
body {
    display: grid;
    row-gap: 200px;
    margin: 0 auto;
    padding: 0;
    font-size: 24px;
    font-family: "FreePixel", monospace;
    color: white;
    background-color: var(--main-black);
}
main {
    display: grid;
    justify-self: center;
    row-gap: 400px;
    width: 80%;
    max-width: 600px;
    margin-top: 200px; /* Needed for sticky navbar */
}
    main p {
        padding-bottom: 30px;
    }
#nav, #cabecera, section > h2 {
    font-family: "Endless_Boss_Battle", monospace;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 16px;
    background-color: var(--main-black);
    border-bottom: 5px solid white;
}
.darkmode-btn {
    right: 0;
    position: fixed;
    padding-right:  16px;
    cursor: pointer; 
    text-decoration: underline;
}
footer {
    font-size: 16px;
    padding: 0 0 32px 32px;
}
h1 {
    font-size: 80px;
}
h1, h2, h3 {
    padding-bottom: 18px;
}
ul, ol {
    margin-left: 40px;
    margin-bottom: 60px;
    list-style-type: none;
}
a, span {
    color: gold;
}


#quien-soy img {
    width: 35px;
}
#quien-soy > div {
    text-align: center;
    padding-bottom: 26px;
    line-height: 0;
}
#habilidades {
    display: flex;
    flex-direction: column;
}
    .positive { /* Positive */
        color: aqua;
    }
    .negative { /* Negative */
        color: orangered;
    }

#experiencia p{
    font-weight: bold;
}
#contacto {
    text-align: center;
}
    #contacto img {
        width: 50px;
    }
    #contacto form {
        text-align: left;
    }
    #contacto input {
        margin-top: 12px;
        margin-bottom: 12px;
        padding: 6px;
    }
    #contacto textarea {
        width: 100%;
        margin-top: 12px;
        margin-bottom: 12px;
        resize: none;
        overflow: auto;
        outline: none;
    }
    #contacto input[type=submit]{
        background-color: #262626;
        border: 4px solid white;
        color: white;
        padding: 12px 24px;
        text-decoration: none;
        cursor: pointer;
        font-family: inherit;
        font-weight: bold;
        font-size: inherit;
        margin-top: 12px;
    }
    .logos {
        fill: black;
    }

@media only screen and (max-width: 480px) {
    nav {
        font-size: 18px;
    }
    main {
        width: 90%;
    }
    #habilidades img {
        width: 25px;
    }
}