@font-face {
  font-family: "Endless";
  src: url(fonts/EndlessBossBattle.ttf);
}

:root {
  --main-black: rgb(24, 24, 24);
  --defaultCalc: calc(7% + 0.390625vw);
  --smallCalc: calc(4% + 0.390625vw);
}

* {
  margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* Tags */
body {
  line-height: 1;
  font-size: 22px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif;
  color: ghostwhite;
  background-color: var(--main-black);
  margin-left: var(--smallCalc);
  margin-right: var(--smallCalc);
  padding-top: 40px;
  padding-bottom: 80px;
}
main, footer {
  margin: 0 auto;
  margin-top: var(--defaultCalc);
  max-width: 600px;
  display: grid;
  justify-content: center;
  row-gap: 60px;
}
ul,
ol {
  margin-left: 40px;
  margin-bottom: 60px;
  list-style-type: japanese-formal;
}
a:link, a, span,  strong, .span {
  color: gold;
}
a:visited {
  color: darkorange;
}
/* Classes */
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.size-big {
  font-size: calc(38px + 0.390625vw);
}
.size-medium {
  font-size: calc(28px + 0.390625vw);
}
.size-small {
  font-size: calc(18px + 0.390625vw);
}
.font-endless {
  font-family: "Endless", monospace;
}
.date {
  font-size: 16px;
}
.icons a {
  display: inline-block;
}
.icon {
  width: 50px;
  vertical-align: middle;
}
.intro {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  align-content: center;
  gap: 20px;
}
.intro-desc {
  display: grid;
  align-content: space-around;
}
.profile-img {
  max-width: 130px;
  max-height: 130px;
  display: block;
  margin: 0 auto 0 auto;
  border-radius: 0.5rem;
}

.articles p, .experiences p {
  margin: 12px 0;
}
.timeline {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns, evenly distributed */
}
.timeline span {
  margin-bottom: 6px;
}

.timeline > div:nth-child(odd) {
  text-align: right;
  border-right: 1px solid gold;
}

.experience {
  padding: 20px; /* Optional: Add spacing within each experience */
}

#btn_es {
  background-color: var(--main-black);
  border: 1px solid gold;
  color: ghostwhite;
}
#btn_en {
  background-color: var(--main-black);
  border: 1px solid ghostwhite;
  color: ghostwhite;
}
.language-button {
  padding: 8px 16px;
  font-size: 12px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

/* Media */
@media only screen and (max-width: 480px) {
  .intro {
    grid-template-columns: none;
  }
  .profile-img {
    margin: 0 auto 0 0;
  }
}